.map {
	max-width: 600px;
}

ul {
list-style: none;
margin-left: 5px;
padding: 0;
margin: 10px;
}

li {
    margin-left: 0px;
    font: "Helvetica";
}
.h3 {
    font: "Helvetica";
}
.h4 {
    font: "Helvetica";
}